{% extends 'base.html.twig' %}

{% block title %}Buscar Arrendatario con Ambiente{% endblock %}

{% block body %}
    <h1 class="p-3 text-center"><span id="search">1</span>. Buscar de Arrendatario con Ambiente</h1>
    
    {{ form_start(form, {'method':'GET','action':'#'}) }}

    <div class="container">        
        <div class="row justify-content-md-center">
            <div class="col col-md-auto">

                <div class="d-flex flex-row">
                    <div class="centrar">
                        <i class="fa fa-home"></i>
                        {{ form_label(form.arrendatario, 'Filtrar Arrendatario',
                            {
                                'label_attr': 
                                    {
                                        'class': 'centrar'
                                    }
                            })
                        }}
                    </div>
                    <div class="p-3 centrar"><input class="form-check-input" type="checkbox" value="" id="CheckArren"></div>
                    <div class="centrar">{{ form_errors(form.arrendatario) }}</div>
                    <div class="centrar">
                        {{ form_widget(form.arrendatario,
                            {
                                'attr':
                                {
                                    'class':'form-select form-select-lg',
                                    'aria-label':'.form-select-lg',
                                },
                                'id':'SelectArren',
                                'disabled':'disabled',
                            }) 
                        }}
                    </div>  
                </div>

            </div>

            <div class="col col-md-auto">            
                <div class="d-flex flex-row mb-2">
                    <div class="centrar">
                        <i class="fa fa-home"></i> 
                        {{ form_label(form.ambiente, 'Filtrar Ambiente',
                            {
                                'label_attr':
                                    {
                                        'class': 'centrar'
                                    }
                            })
                        }}                        
                    </div>
                    <div class="p-3 centrar"><input class="form-check-input" type="checkbox" value="" id="CheckAmbi"></div>
                    <div class="centrar">{{ form_errors(form.ambiente) }}</div>
                    <div class="centrar">
                        {{ form_widget(form.ambiente,
                            {
                                'attr':
                                {
                                    'class':'form-select form-select-lg',
                                    'aria-label':'.form-select-lg',
                                },
                                'id':'SelectAmbi',
                                'disabled':'disabled',
                            }) 
                        }}
                    </div>  
                </div>
            </div>
            
        </div>
    </div>

    {{ form_end(form) }}

    <div id="tableResult">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombres</th>
                <th>Paterno</th>
                <th>Materno</th>
                <th>Dni</th>
                <th>Ambientes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for arrendatario in result %}
            <tr>
                <td>{{ arrendatario.id }}</td>
                <td>{{ arrendatario.nombres }}</td>
                <td>{{ arrendatario.paterno }}</td>
                <td>{{ arrendatario.materno }}</td>
                <td>{{ arrendatario.dni }}</td>
                <td>
                    {% for ambiente in arrendatario.ambientes %}
                       {{ ambiente }}<br>
                    {% endfor %}
                </td>
                <td>

                    <button type="button" class="btn btn-default btn-sm">
                        <a href="{{ path('app_arrendatario_show', {'id': arrendatario.id}) }}">                           
                            Mostrar <span class="glyphicon glyphicon-eye-open"></span> 
                        </a>
                    </button>
   
                    <button type="button" class="btn btn-default btn-sm">
                        <a href="{{ path('app_arrendatario_edit', {'id': arrendatario.id}) }}">
                            Editar <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </button>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>

{% endblock %}
